/*Transparent-H1 and P use a bottom float & relative position to force the text up because I'm lazy and don't wanna figure out how to move it more*/

* {
    box-sizing: border-box
}

/* Start Rainbow Wrapper Background by neorenflar on Discord */
:root {
    position: relative;
    background: linear-gradient(124deg, #037153, #037153, #3e7c6b, #3E7C6B, #257ca3, #257CA3,#396d7c);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0 82%
    }
}

/* End Rainbow Wrapper Background */

body,
html {
    max-width: 100vw
}

.avatar {
    /*justify-content: center;*/
    /*margin: auto;*/
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px solid royalblue;
}

/*Centered Div*/
.center {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Make the header transparent*/
.transparent-h1 {
    text-align: center;
    position: relative;
    /*padding-top:40vh;*/
    margin: 0;
    letter-spacing: 4px;
    font-size: 4em;
    font-weight: bold;
    font-family: "Roboto", serif;
    opacity: 0.7;
    color: white;
    text-shadow: 0 0 15px black;
}

/*Main decor... beautiful!*/
p {
    text-align: center;
    position: relative;
    font-size: 1.5em;
    opacity: 0.7;
    text-shadow: 0 0 15px black;
    color: white;
    font-family: Madimi One, serif;
}

/*Group project links in main decoration*/
.groups {
    color: skyblue;
    text-decoration: none;
}

.groups:hover {
    text-decoration: underline;
}

/*Columns*/
.column {
    flex: 30%;
    padding: 5px;
}

/*Brand logos & text*/
.brands {
    width: 100px;
    margin: auto;
    display: block;
    float: inherit;
}

.brandstext {
    width: 100px;
    margin: auto;
    bottom: -20px;
    display: block;
}

/*Container for the logos*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%
}

/* Footer that floats to bottom */
#sticky-footer {
    text-align: center;
    /* optional */
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

/*Mobile version*/
@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        gap: 75px;
        align-items: center;
        justify-content: center;
    }
}